.background-home{
    background-image: url('/img/background.jpeg');
    background-size: cover;
}

.container{
    margin: 0;
    padding: 250px;
    display: flex;
    justify-content: center;

    background-color: rgb(30, 30, 30);
    color: #f0f0f0;

    .perfil{
        display: flex;
        flex-direction: column;

        padding: 5px;

        a{
            color: #f0f0f0;
            margin: -1px;
        }

        p{
            margin: 0px;
        }
    }
}