html, body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

app-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

footer{
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;

    background-color: #e0e0e0;
    padding: 10px;
    font-size: 10pt;
}
