.container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5fr 9fr;
    position: relative; /* Para que o botão seja posicionado em relação ao contêiner */
}

button {
    position: absolute; /* Permite posicionar o botão */
    top: 0px; /* Distância do topo */
    right: 0px; /* Distância do lado direito */
    width: 90px; /* Largura do botão */
    height: 120px; /* Altura do botão */
    padding: 0; /* Remove o preenchimento interno */
    border: none; /* Remove a borda padrão */
    background-color: blue; /* Cor de fundo */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}
