<div class="container">
  <div class="logo">
    <h1>Luvena</h1>
  </div>

  <nav class="navbar">
    <ul class="menu">
      <a [routerLink]="['/home']">Início</a>
      <a [routerLink]="['/home']">Agende um horário</a>
      <a [routerLink]="['/home']">Contatos</a>
    </ul>
  </nav>

  <div class="perfil">
    <img src="/icons/perfil.svg" alt="" />
    <div class="register-container">
      <a href="/login">Entrar</a>
      <p>ou</p>
      <a href="/register">Cadastrar</a>
    </div>
  </div>
</div>
