.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background-color: rgba(0,0,0,0.7);
    color: white;

    a{
        color: white;
    }

    .logo{
        margin-left: 30px;

        display: flex;
        align-items: center;
        gap: 15px;
    }

    .perfil{
        margin-right: 30px;
        p{
            margin: 0;
        }
    }

    .navbar{

        .menu{
            display: flex;
            justify-content: space-between;
            margin: 0;
            
            a{
                text-decoration: none;

                padding: 30px;
                margin-right: 10px;

                transition: background-color 0.3s;
            }

            a:hover{
                background-color: rgb(192, 150, 71);
            }
        }
    }    
}

